# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|

  config.vm.box = "ubuntu-12.04-server-amd64"
  config.vm.box_url = "http://cloud-images.ubuntu.com/vagrant/precise/current/precise-server-cloudimg-amd64-vagrant-disk1.box"

  config.vm.network :private_network, ip: "192.168.33.10"
  config.vm.synced_folder ".", "/vagrant", :extra => "dmode=777,fmode=777"

  config.berkshelf.enabled = true
  config.berkshelf.berksfile_path = "chef/kitchen/Berksfile"

  config.omnibus.chef_version = :latest
  config.vm.provision :chef_solo do |chef|
    chef.cookbooks_path = [ "chef/kitchen/cookbooks", "chef/app-cookbooks" ]
    chef.roles_path = "chef/kitchen/roles"
    chef.data_bags_path = "chef/kitchen/data_bags"
    chef.add_role "default"
    chef.add_role "database"
    chef.add_role "web"
    chef.add_role "php"
    # chef.add_recipe "my_project"

    chef.json = {
      "authorization" => {
        "sudo" => {
            "users" => [ "vagrant" ],
            "passwordless" => true,
          }
      },
      "domain"
    }
  end
end
